<div class="row">
  <div class="col-md-6" id="head1">
    <img src="images/logo.png" alt="" class="img-responsive">
  </div>
  <div class="col-md-6 text-uppercase text-right">
    <h1>Rent-palace</h1>
    <small>Caring for your requirements</small>
  </div>
</div>
<hr>
